<!doctype html>
{% load static %}
<html lang="en">

<head>
    <link rel="icon" type='{% static "image/x-icon" %}' href='{% static "/images/web icon3.png" %}'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{% static "style/style.css" %}'>
    <title>R.M.P store</title>
</head>

<body>
    <div class="all-of-body">

        <!-- brand in front of web home page -->

        <div class="brand__name">

            <div class="big__brand">R.M.P</div>
            <div class="small__brand">store</div>
        </div>

        <!-- menu -->

        {% include 'navbar.html' %}

        <!-- choos gender products -->
        <div class="choos gender products">


            <div class="gender_choos">
                <!-- men -->
                <a href='{% url "men" %}' target="_blank">
                    <img src='{% static "images/men icon.png" %}' alt="men page icon" title="men page" height="350px" width="100%">
                </a>

                <!-- kids -->
                <a href='{% url "kids" %}' target="_blank">
                    <img src='{% static "images/kids icon.png" %}' alt="kids icon" title="kid page" height="350px" width="100%">
                </a>
                <!-- women -->

                <a href='{% url "kids" %}' target="_blank">
                    <img src='{% static "images/women icon.png" %}' alt="women page icon" title="women page" height="350px"
                        width="100%">
                </a>

            </div>
        </div>
        <br>
        <br>
        <!-- newest -->
        <div class="shared-style">
            <p>newest products</p>
        </div>
        <div class="newest">
            {% for item in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ item.picture.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ item.name }}</h5>
                                    <!-- Product price-->
                                    In the {{ item.category.category_name }} category <br>
                                    {{ item.price }} toman
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>

        <!-- popular brands -->
        <div class="shared-style">
            <p>most popular brands</p>
        </div>
        <div class="popular-brands">
            <div class="image-box"></div>
            <div class="image-box"></div>
            <div class="image-box"></div>
            <div class="image-box"></div>
            <div class="image-box"></div>
        </div>


    </div>
    </div>

    {% include 'contactUs.html' %}

    </div>


    <script src='{% static "script/homePage.js" %}'></script>
</body>

</html>