<!doctype html>
{% load static %}
<html lang="en">

<head>
    <link rel='{% static "icon" %}' type='{% static "image/x-icon" %}' href='{% static "/images/web icon3.png" %}'>
    <meta charset='{% static "UTF-8" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='{% static "stylesheet" %}' href='{% static "style/style.css"} %'>
    <title>R.M.P store</title>
</head>

<body>
    <div class="all-of-body">

        <!-- brand in front of web home page -->

        <div class="brand__name">

            <div class="big__brand">R.M.P</div>
            <div class="small__brand">store</div>
        </div>

        <!-- menu -->
        {% include 'navbar.html' %}

        <!-- choos gender products -->
        <div class="choos gender products">
            <br>
            <br>
            <div class="choos-gender-title">
                <p>man</p>
                <p>kids</p>
                <p>women</p>

            </div>
            <div class="gender_choos">
                <!-- men -->
                <a href="manpage.html" target="_blank">
                    <img src='{% static "images/men icon.jpg" %}' alt='{% static "men page icon" %}' title="men page" height="350px" width="100%">
                </a>

                <!-- kids -->
                <a href="{% url 'kids' %}" target="_blank">
                    <img src='{% static "images/kids style 6.avif" %}' alt='{% static "kids icon" %}' title="kid page" height="350px" width="100%">
                </a>
                <!-- women -->

                <a href='{% url "women" %}' target="_blank">
                    <img src='{% static "images/woman icon.avif" %}' alt='{% static "women page icon" %}' title="women page" height="350px"
                        width="100%">
                </a>

            </div>
        </div>
        <br>
        <br>
        <!-- newest -->
        <div class="shared-style">
            <p>newest products</p>
        </div>
        <div class="newest">

            <a href="product.html">
                <div class="image-box"><img src='{% static "images/example 1.jpg" %}' alt="" style="height: 200px; width: 200px;">
                </div>
            </a>
            <div class="image-box"></div>
            <div class="image-box"></div>
            <div class="image-box"></div>
            <div class="image-box"></div>

        </div>

        <!-- popular brands -->
        <div class="shared-style">
            <p>most popular brands</p>
        </div>
        <div class="popular-brands">
            <div class="image-box"></div>
            <div class="image-box"></div>
            <div class="image-box"></div>
            <div class="image-box"></div>
            <div class="image-box"></div>
        </div>


    </div>

    {% include 'contactUs.html' %}
    </div>
    <script src='{% static "script/homePage.js" %}'></script>
</body>

</html>