<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type='{% static "image/x-icon" %}' href='{% static "/images/web icon3.png" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href='{% static "style/login.css" %}'>
</head>

<body>
    <!-- brand in front of web page -->

    <div class="brand__name">

        <div class="big__brand">R.M.P</div>
        <div class="small__brand">store</div>
    </div>

    <!-- menu -->
    {% include 'navbar.html' %}
    <div class="white__bgColor">
        <div class="title">
            <div>LOGIN</div>
        </div>
       <center>
        <div class="col-10">
            <form method="POST" action="{%url 'login' %}">
               {% csrf_token  %}
               <div class="mb-3">
                <input type="text" class="form-control" name = "username" palceholder="username">
               </div>
               <div class="mb-3">
                    <input type="password" class="form-control" name = "password" placeholder="password">
               </div>
                <button type="submit" class="btn btn-primary">LOGIN</button>
            </form>
        </div>
       </center>>
        <div style="display: flex; margin: 10px;">
            <div>Not registred?</div>
            <a href="'{% url 'createAccount' %}'">Create an account</a>
        </div>
    </div>
</body>

</html>
