<nav class="menu">
        <ul class="menu-option">
            <li class="option"><a href="{% url 'home' %}">home</a></li>
            <li class="option"><a href="{% url 'men' %}">men</a></li>
            <li class="option"><a href="{% url 'women' %}">women</a></li>
            <li class="option"><a href="{% url 'kids' %}">kids</a></li>
            <li class="option"><a href="{% url 'contact' %}"> contact to us</a></li>
            {% if user.is_authenticated %}
            <li class="option"><a href="{% url 'logout' %}">logout</a></li>
            {% else %}
            <li class="option"><a href ="{% url 'login' %}"> login</a></li>
            <li class="option"><a href="{% url 'createAccount' %}">create account</a></li>
            {% endif %}

        </ul>
</nav>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert"
             style="position: fixed;
                    top: 80px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 80%;
                    max-width: 600px;
                    background-color: #6b9b76;
                    color: white;
                    border: none;
                    text-align: center;
                    padding: 10px;
                    border-radius: 5px;
                    z-index: 1000;
                    font-family: 'Lalezar', sans-serif;
                    direction: rtl;
                    unicode-bidi: isolate;">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}


