<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>women product</title>
    <link rel="stylesheet" href='{% static "style/product.css" %}'>
</head>

<body>
    <!-- brand in front of web page -->

    <div class="brand__name">

        <div class="big__brand">R.M.P</div>
        <div class="small__brand">store</div>
    </div>

    <!-- menu -->
    {% include 'navbar.html' %}

    <div class="women">
        <div class="body_product">
            <div class="image-box"><img src='{% static "images/example 1.jpg" %}' alt="product" style="height: 500px; width: 500px;">
            </div>
            <div class="product_name">name </div>
            <div class="type"> type : </div>
            <div class="price">price : 200$</div>
            <div class="Description">
                Description
            </div>
            <button class="buy">buy</button>

        </div>
    </div>
    <script src='{% static "script/productScrpt.js" %}'></script>
</body>

</html>