<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>women page</title>
    <link rel="icon" type='{% static "image/x-icon" %}' href='{% static "/images/web icon3.png" %}'>
    <link rel="stylesheet" href='{% static "style/women.css" %}'>
</head>

<body>
    <!-- brand in front of web page -->

    <div class="brand__name">

        <div class="big__brand">R.M.P</div>
        <div class="small__brand">store</div>
    </div>

    <!-- menu -->
    {% include 'navbar.html' %}

    <!-- categorys -->

    <div class="categorys">
        <div class="category_box"><a href='{% static "scart.html" %}'><img src='{% static "/images/women page/skrit.png" %}' alt=""></a></div>
        <div class="category_box"><img src="" alt=""></div>
        <div class="category_box"><img src="" alt=""></div>
        <div class="category_box"><img src="" alt=""></div>
    </div>
</body>

</html>