<nav class="menu">
    <ul class="menu-option">
        <input class="searchBox" type="search" placeholder="Search...">
        <li class="option"><a href="home page.html" target="_blank">home</a></li>
        <li class="option"><a href="women page.html" target="_blank">women</a></li>
        <li class="option"><a href="men page.html" target="_blank">men</a></li>
        <li class="option"><a href="kids.html" target="_blank">kids</a></li>
        <li class="option"><a href="contact.html" target="_blank"> contact to us</a></li>
        <li class="option"><a href="login.html" target="_blank"> login</a></li>
        <li class="option"><a href="createAccount.html" target="_blank">create account</a></li>
        <li class="option"><a href="shoppingCart.html" target="_blank"><img src="/images/shopping-cart-icon-md.png"
                    alt="shopping cart" style="width: 30px; height: 30px;"></a></li>
        <li class="option"><a href="userProf.html" target="_blank"><img src="/images/User account icon.png" alt="account"
                    style="width: 30px; height: 30px;"></a></li>
    </ul> 
</nav>
{% if messages %}
{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert"
         style="position: fixed;
                top: 80px;
                left: 50%;
                transform: translateX(-50%);
                width: 80%;
                max-width: 600px;
                background-color: #6b9b76;
                color: white;
                border: none;
                text-align: center;
                padding: 10px;
                border-radius: 5px;
                z-index: 1000;
                font-family: 'Lalezar', sans-serif;
                direction: rtl;
                unicode-bidi: isolate;">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}