/* delete browser defults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: title-font;
    src: url(../font/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: menu;
    src: url(/font/Galindo/Galindo-Regular.ttf);
}

body {
    background-color: rgb(210, 218, 215);
    display: flex;
    flex-direction: column;
}


/* start menu */


.menu-option {
    height: 50px;
    border-radius: 50px;
    background-color: #7b915e;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    margin: 0 15px;
}

.option a {
    font-family: menu;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px;
    border-radius: 5px;
}

.option a:hover {
    color: #697260;
    background-color: #cdecd2;
}

/* end menu */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 500px;
    padding: 70px 100px;
    margin: 100px auto;
    border-radius: 100px;

}


input {
    width: 331px;
    border-color: #7b915e;
    padding: 30px;
    margin: 15px;
    border-radius: 100px;
    background-color: white;

}


.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.title {
    font-family: title-font;
    font-size: 30px;
    margin-bottom: 10px;

}



input,
select,
textarea {
    display: block;
    width: 300px;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
}


button {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;

    width: 400px;
}

button:hover {
    background-color: #000000;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}