.brand-icon {
    justify-content: center;
    align-items: center;
    display: flex;
}

.discription {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding: 100px;
    color: aliceblue;
    flex-direction: column;
    max-width: 600px;
    min-width: 100px;
    max-height: 300px;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 50px auto;
    background-color: rgb(59, 82, 82);
    border-radius: 18px;
}


.contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-icons a {
    display: inline-block;
    margin-left: 7px;
    margin-right:7px ;
}
