@font-face {
    font-family: title-font;
    src: url(../font/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: brand_font;
    src: url(../font/Galindo/Galindo-Regular.ttf);
}


body {
    background-color: #b1eed7;
}

/* brand*/

.brand__name {

    display: flex;
    column-gap: 10px;
    background-color: #84e484;
    padding: 10px;
    font-size: 15px;
    font-family: brand_font;
    color: white;
    justify-content: center;

}

/* start menu style */

@font-face {
    font-family: menu;
    src: url(/font/Galindo/Galindo-Regular.ttf);
}

.menu {
    border-radius: 50px;
    background-color: #607c3b;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-option {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.option {

    margin: 0 15px;
}

.option a {
    font-family: menu;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px;
    border-radius: 5px;
}

.option a:hover {
    color: #333;
    background-color: #f2f2f2;
}


/* end menu style */


input {
    width: 331px;
    border: none;
    outline: none;
    background: #E8ECD7;
    padding: 30px;
    margin: 15px;
    border-radius: 60px;

}


.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 400px;
    padding: 100px 100px;
    margin: 100px auto;
    border-radius: 50px;
}

button {
    color: white;
    padding: 15px;
    max-width: 500px;
    min-width: 278px;
    background-color: rgb(132, 137, 132);
    margin-top: 40px;
    margin-bottom: 10px;
}


.title {
    font-family: title-font;
    font-size: 35px;
    margin-bottom: 10px;

}