/* delete browser defults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #b1eed7;
}

@font-face {
    font-family: title-font;
    src: url(../font/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: brand_font;
    src: url(../font/Galindo/Galindo-Regular.ttf);
}

/* brand*/

.brand__name {

    display: flex;
    column-gap: 10px;
    background-color: #84e484;
    padding: 10px;
    font-size: 15px;
    font-family: brand_font;
    color: white;
    justify-content: center;

}


/* start menu style */


@font-face {
    font-family: menu;
    src: url(/font/Galindo/Galindo-Regular.ttf);
}

.searchBox {
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .25s;
    border-radius: 9px;
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
}

.searchBox:focus {
    box-shadow: 5px 8px 15px 5px rgb(20, 20, 20);
}

.menu-option {
    height: 50px;
    border-radius: 50px;
    background-color: #7b915e;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    margin: 0 15px;
}

.option a {
    font-family: menu;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    display: flex;
}

.option a:hover {
    color: #697260;
    background-color: #cdecd2;
}


/* end menu style */

.box {
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 400px;
    padding: 60px 10px;
    margin: 100px auto;
}

input {
    max-width: 500px;
    min-width: 250px;
    border: none;
    outline: none;
    background: #E8ECD7;
    padding: 20px;
    margin: 8px;
    border-radius: 60px;
}

.inputs {
    display: flex;
    flex-direction: column;
}


button {
    color: white;
    padding: 10px;
    max-width: 500px;
    min-width: 278px;
    border: none;
    background-color: rgb(106, 158, 106);
    margin-top: 30px;
}

.title {
    font-family: title-font;
    font-size: 35px;
    margin-bottom: 25px;
}



/* start footer style */

.about {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    width: clamp(400px 800px 1400px);
    background-color: #c9c0c096;
}


.rightOp {
    display: flex;
    flex-direction: column;
}

.centerOp {
    display: flex;
    flex-direction: column;
}

.footer {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.atten {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


/* end footer style */