body {
    background-color: #EED3B1;
}

@font-face {
    font-family: title-font;
    src: url(../font/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}
.white__bgColor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 400px;
    padding: 60px 10px;
    margin: 100px auto;
}

input {
    max-width: 500px;
    min-width: 250px;
    border: none;
    outline: none;
    background: #E8ECD7;
    padding: 20px;
    margin: 8px;
    border-radius: 60px;
}

.inputs{
    display: flex;
    flex-direction: column;
}


button {
    color: white;
    padding: 15px;
    max-width: 500px;
    min-width: 278px;
    border: none;
    background-color:rgb(132, 137, 132);
margin-top: 30px;
}

.title{
font-family:title-font;
font-size: 35px;
margin-bottom: 25px;
}
