/* delete browser defults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: brand_font;
    src: url(../font/Galindo/Galindo-Regular.ttf);
}

@font-face {
    font-family: title;
    src: url(/font/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Medium.ttf);
}

/* brand*/

.brand__name {

    display: flex;
    column-gap: 10px;
    background-color: #84e484;
    padding: 10px;
    font-size: 15px;
    font-family: brand_font;
    color: white;
    justify-content: center;

}

/* start menu style */


@font-face {
    font-family: menu;
    src: url(/font/Galindo/Galindo-Regular.ttf);
}

.searchBox {
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .25s;
    border-radius: 9px;
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
}

.searchBox:focus {
    box-shadow: 5px 8px 15px 5px rgb(20, 20, 20);
}

.menu-option {
    height: 50px;
    border-radius: 50px;
    background-color: #7b915e;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    margin: 0 15px;
}

.option a {
    font-family: menu;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    display: flex;
}

.option a:hover {
    color: #697260;
    background-color: #cdecd2;
}


/* end menu style */


/* title */
.title {
    font-family: title;
    font-size: 30px;
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: #cdecd2;
    border-radius: 20px;
    margin-top: 80px;

}

/* serach result boxs style :  */
.results_boxs {
    display: flex;
    gap: 170px;
    margin-top: 50px;
    margin-left: 75px;

}

/* box style */
.box {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background-color: #f2f7ed;
    border: 1px solid black;
}


/* product image style */
.product_image img {
    margin-left: 50px;
    margin-top: 9px;
    text-align: center;
    height: 190px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.product_name {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: title;
    font-size: 25px;
    color: black;
}

.product_price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: title;
    font-size: 22px;
    color: rgb(212, 37, 37);
  
    
}