/* delete browser defults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: brand_font;
    src: url(../font/Galindo/Galindo-Regular.ttf);
}

body {
    background: linear-gradient(to right, #af6f9c, #6d4266);
    text-align: center;
}


/* brand*/

.brand__name {

    display: flex;
    column-gap: 10px;
    background-color: #84e484;
    padding: 10px;
    font-size: 15px;
    font-family: brand_font;
    color: white;
    justify-content: center;

}


/* start menu style */


@font-face {
    font-family: menu;
    src: url(/font/Galindo/Galindo-Regular.ttf);
}

.searchBox {
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .25s;
    border-radius: 9px;
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
}

.searchBox:focus {
    box-shadow: 5px 8px 15px 5px rgb(20, 20, 20);
}

.menu-option {
    height: 50px;
    border-radius: 50px;
    background-color: #7b915e;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    margin: 0 15px;
}

.option a {
    font-family: menu;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    display: flex;
}

.option a:hover {
    color: #697260;
    background-color: #cdecd2;
}


/* end menu style */



/* categorys */

.categorys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 70px;

}

.category_box {
    margin-top: 100px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.category_box img {
    height: 190px;
    width: 190px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: .25s ;
}
.category_box :hover{
    box-shadow: 7px 4px 8px black;
    transform: translateY(-2px);
}
.category_box :hover{
    box-shadow: 7px 4px 8px black;
    transform: translateY(-2px);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-top: 10px;
    gap: 248px;

}

.category_title {
    font-size: 20px;
    font-family:monospace;
}


/* start footer style */

.about {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    width: clamp(400px 800px 1400px);
    background-color: #c9c0c096;
}


.rightOp {
    display: flex;
    flex-direction: column;
}

.centerOp {
    display: flex;
    flex-direction: column;
}

.footer {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.atten{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


/* end footer style */