body {
    font-family:menue;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
@font-face {
    font-family: menue;
    src: url(/font/Galindo/Galindo-Regular.ttf);
}

.menue {
    background-color: #af5757;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-option {
    list-style-type:none ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.option {
    margin: 0 15px;
}

.option a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px;
    border-radius: 5px;
}

.option a:hover {
    color: #333;
    background-color: #f2f2f2;
}